<div id="game">
  <header class="game-header padding18">
    <span>开始时间：12:22</span>
    <span>总时长：40分钟</span>
    <span>模式：匹配赛</span>
  </header>
  <div class="status padding18">
    <span>获胜方</span>
    <p class="tubiao">
      <span class="icon icon-shuangjian"></span>
      <span class="icon icon-kulou"></span>
      <span class="icon icon-dunpai"></span>
    </p>
  </div>
  <div class="game-body">
    <ul class="media">
      <li>
        <img src="https://picsum.photos/125/125/" alt="">
        <p>LV18</p>
      </li>
      <li>
        <div>
          <h3>孤军作战</h3>
          <div class="skill">
            <img src="https://picsum.photos/50/50/" alt="">
            <img src="https://picsum.photos/50/50/" alt="">
            <img src="https://picsum.photos/50/50/" alt="">
            <img src="https://picsum.photos/50/50/" alt="">
            <img src="https://picsum.photos/50/50/" alt="">
            <img src="https://picsum.photos/50/50/" alt="">
          </div>
        </div>
        <span class="num">11/5/10</span>
      </li>
    </ul>
  </div>
</div>