<header id="header">
  <span (click)="goBack()" class="icon icon-back"></span>
  <p>{{title | slice:0:10}}</p>
</header>
<div id="scroll">
  <app-scroll [Percentage]="20" (onNextPage)="nextPage()" (onRefresh)="refresh()" (onSlideLeft)="slideLeft()" (onSlideRight)="slideRight()">
    <!-- <div id="scroll-content"> -->
    <router-outlet></router-outlet>
    <!-- </div> -->
  </app-scroll>
</div>
<nav id="nav">
  <a *ngFor="let link of LINK" [routerLink]="link.path" routerLinkActive="active" (click)="selectedItem(link)">
    <span class="icon {{link.icon}}"></span>
    <span>{{link.name}}</span>
  </a>
</nav>