<div id="news">
  <app-carousel [list]="bannerNew"></app-carousel>
  <div class="list">
    <div class="item" (click)="goDetail(item.article_url,item.title)" *ngFor="let item of newsList">
      <img class="media" [src]="item.image_url_small" alt="">
      <div class="info">
        <h3 class="info-title">{{item.title}}</h3>
        <p class="info-content">{{item.summary}}</p>
        <p class="info-footer">
          <span>{{item.publication_date}}</span>
          <span>{{item.pv | slice:0:-4}}万订阅</span>
        </p>
      </div>
    </div>
  </div>
</div>