<div id="playerDetail">
  <div class="header">
    <img src="http://picsum.photos/130/130/?random" alt="">
    <p class="grade">30级</p>
    <p class="dan">
      <span>诺克萨斯</span>
      <span>黄金4</span>
    </p>
    <p class="zhandou">
      <span>战斗力&nbsp;:&nbsp;273623</span>
      <span>赞&nbsp;:&nbsp;20192</span>
    </p>
  </div>
  <div class="intro">
    <ul>
      <li>
        <span class="icon icon-3kill"></span>
        <span>三杀&nbsp;:&nbsp;120</span>
      </li>
      <li>
        <span class="icon icon-4kill"></span>
        <span>四杀&nbsp;:&nbsp;120</span>
      </li>
      <li>
        <span class="icon icon-5kill"></span>
        <span>五杀&nbsp;:&nbsp;120</span>
      </li>
    </ul>
    <ul>
      <li>
        <span class="icon icon-jiangbei"></span>
        <span>总击杀&nbsp;:&nbsp;120</span>
      </li>
      <li>
        <span class="icon icon-medal"></span>
        <span>MVP&nbsp;:&nbsp;120</span>
      </li>
      <li>
        <span class="icon icon-super"></span>
        <span>超神&nbsp;:&nbsp;120</span>
      </li>
    </ul>
  </div>
  <div class="game">
    <ul>
      <li (click)="goGame(15)">
        <div>
          <img src="http://picsum.photos/100/100/?random" alt="">
          <p class="game-info">
            <span>失败</span>
            <span>排位赛</span>
          </p>
        </div>
        <span class="btn-rigth icon icon-right"></span>
      </li>
    </ul>
  </div>
</div>